@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon_custom/icomoon.eot?qt9nt1');
  src:  url('../fonts/icomoon_custom/icomoon.eot?qt9nt1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon_custom/icomoon.ttf?qt9nt1') format('truetype'),
    url('../fonts/icomoon_custom/icomoon.woff?qt9nt1') format('woff'),
    url('../fonts/icomoon_custom/icomoon.svg?qt9nt1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x33_35-telegram:before {
  content: "\e900";
}
.icon-instagram_icon:before {
  content: "\e901";
}
.icon-linkedin_network_social-network_linkedin-logo_icon:before {
  content: "\e902";
}
.icon-pin-48:before {
  content: "\e903";
}
