@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon_custom/icomoon.eot?m0e6n8');
  src:  url('../fonts/icomoon_custom/icomoon.eot?m0e6n8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon_custom/icomoon.ttf?m0e6n8') format('truetype'),
    url('../fonts/icomoon_custom/icomoon.woff?m0e6n8') format('woff'),
    url('../fonts/icomoon_custom/icomoon.svg?m0e6n8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dobble-left-arrow:before {
  content: "\e909";
}
.icon-dobble-right-arrow:before {
  content: "\e90a";
}
.icon-twitter_bird_icon:before {
  content: "\e907";
}
.icon-linkedin_network_social-network_linkedin-logo_icon1:before {
  content: "\e908";
}
.icon-Iconly-Light-Chat:before {
  content: "\e904";
  color: #409b35;
}
.icon-Iconly-Light-Document:before {
  content: "\e905";
  color: #409b35;
}
.icon-Iconly-Light-Time-Circle:before {
  content: "\e906";
  color: #409b35;
}
.icon-close-solid:before {
  content: "\e916";
}
.icon-x33_35-telegram:before {
  content: "\e900";
}
.icon-instagram_icon:before {
  content: "\e901";
}
.icon-linkedin_network_social-network_linkedin-logo_icon:before {
  content: "\e902";
}
.icon-pin-48:before {
  content: "\e903";
}
