@font-face {
    font-family: 'IranYekn';
    font-style: normal;
    font-weight: normal;
    src: local('IranYekn'), url('../fonts/iran-yekan/woff/iranyekanwebregularfanum.woff') format('woff'),
    local('IranYekn'), url('../fonts/iran-yekan/ttf/iranyekanwebregularfanum.ttf') format('ttf'),
    local('IranYekn'), url('../fonts/iran-yekan/eot/iranyekanwebregularfanum.eot') format('eot');
}

* {
    font-family: 'IranYekn' !important;
}

.dv-rtl {
    direction: rtl !important;
}

.dv-rtl .me-md-5 {
    margin-right: 0 !important;
    margin-left: 3em !important;
}

.dv-rtl .me-3 {
    margin-right: 0 !important;
    margin-left: 1em !important;
}

.dv-rtl .me-4 {
    margin-right: 0 !important;
    margin-left: 1.5em !important;
}

.dv-rtl .dv-tag-values {
    margin: 0 0 20px 10px;
}

.dv-rtl .dv-social-media {
    margin-right: 0;
    margin-left: 0.5em;
}

.dv-rtl .dv-blog-post-icon, .dv-rtl .dv-location-item-icon,
.dv-rtl .dv-social-item-icon {
    padding-right: 0 !important;
    padding-left: 0.5em;
}

.dv-rtl .dv-service-item-icon {
    transform: rotate(180deg);
}

.dv-rtl .dv-service-item-day {
    padding-right: 0;
    padding-left: 2em;
}

.dv-rtl .breadcrumb-item + .breadcrumb-item::before {
    float: right;
    padding-right: 0.7em;
    padding-left: 0.7em;
}

#navbarSupportedContent .me-auto {
    margin-right: 0 !important;
    margin-left: auto;
}

.dv-rtl .dv-mini-border {
    margin-right: 0;
    margin-left: 0.25em;
}

.dv-rtl .SimilarProductSlider .slick-next:before {
    font-family: 'icomoon';
    font-size: xx-large;
    content: "\e90b";
    color: #409b35;
    font-weight: bold;
}

.dv-rtl .SimilarProductSlider .slick-prev:before {
    font-family: 'icomoon';
    font-size: xx-large;
    content: "\e90c";
    color: #409b35;
    font-weight: bold;
}

.dv-rtl .SimilarProductSlider .slick-next {
    left: -20px;
    right: auto;
}

.dv-rtl .SimilarProductSlider .slick-prev {
    right: -40px;
}

.dv-rtl .dv-gallery-overlay-link {
    right: 0;
    left: auto;
    clip-path: polygon(100% 5%, 0% 100%, 100% 100%);
    padding: 1.85em 1.7em 0 0;
}

.dv-rtl .dv-gallery-overlay-link span {
    transform: rotate(180deg);
}

.dv-rtl .dv-address-bg{
    padding: 1.5em 1em 0.5em 8em;
}
@media (min-width: 992px) {
    .dv-rtl .dv-blog-posts .dv-blog-posts-item:nth-child(odd) {
        direction: rtl;
    }

    .dv-rtl .dv-blog-posts .dv-blog-posts-item:nth-child(even) {
        direction: ltr;
    }

    .dv-rtl .dv-blog-posts .dv-blog-posts-item:nth-child(even) .me-4 {
        margin-right: 1.5em !important;
        margin-left: 0 !important;
    }

    .dv-rtl .dv-blog-posts .dv-blog-posts-item:nth-child(even) .dv-blog-post-icon {
        padding-right: 0.5em !important;
        padding-left: 0 !important;
    }

    .dv-rtl .dv-blog-posts .dv-blog-posts-item:nth-child(even) .dv-blog-post-content-pt {
        padding-left: 0 !important;
        padding-right: 3em !important;
    }

    .dv-rtl .dv-blog-posts .dv-blog-posts-item:nth-child(odd) .dv-blog-post-content-pt {
        padding-left: 3em !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 768px) {
    .dv-rtl .SimilarProductSlider .slick-next {
        left: 0px;
        right: auto;
    }

    .dv-rtl .SimilarProductSlider .slick-prev {
        right: -30px;
    }

    .dv-rtl .dv-address-bg{
        padding: 1.5em 1em 0.5em 1em;
    }
}