:root {
    --custom-green: #409C35;
    --custom-gray: #757575;
}

@font-face {
    font-family: iranyekan;
    src: url(../../assets/fonts/iran-yekan/ttf/iranyekanwebregularfanum.ttf) format("ttf"), url(../../assets/fonts/iran-yekan/woff/iranyekanwebregularfanum.woff) format("woff"), url(../../assets/fonts/iran-yekan/eot/iranyekanwebregularfanum.eot) format("eot")
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: #fff;
}

body,
html {
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 280px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 280px;
    width: 0;
    height: 100%;
    margin-left: -280px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 280px;
}

#page-content-wrapper {
    width: 100%;
    /*padding-top: 70px;*/
}

#wrapper.toggled + #page-content-wrapper {
    position: absolute;
    margin-right: -280px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
    padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}

.sidebar-brand {
    height: 65px;
    position: relative;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    padding-top: 1em;
}

.sidebar-brand a {
    color: #ddd;
}

.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}

.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.dropdown-menu.show {
    top: 0;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .8);
    z-index: 1;
}

.dv-custom-navbar {
    background: rgba(16, 16, 16, 0.8) !important;
    height: 130px;
}

.dv-language-select .dropdown-toggle {
    color: #fff;
    text-decoration: none;
}

.dv-custom-px {
    padding: 0 80px;
    width: 100%;
}

.dv-custom-pl {
    padding: 0 0 0 80px;
    width: 100%;
}

#navbarSupportedContent .nav-item {
    padding: 0 1em;
}

#navbarSupportedContent .nav-item .nav-link {
    color: #fff;
    transition: all 0.3s linear;
}

#navbarSupportedContent .nav-item .nav-link:hover, .navbar-brand span {
    color: var(--custom-green);
}

.navbar-brand img {
    width: 106px;
    height: 94px;
}

.sidebar-nav .sidebar-header {
    height: 130px;
}

.dv-banner-title {
    padding: 5em 0;
}

.dv-text-green {
    color: var(--custom-green);
}

.dv-banner-title h1 {
    margin-bottom: 1.7em;
    line-height: 40px;
}

.dv-top-green-btn, .dv-top-white-btn {
    padding: 0.75em 1.8em;
    border-radius: 5px;
    border: none;
    transition: all 0.3s linear;
    font-size: 0.9em;
}

.dv-top-green-btn {
    background: var(--custom-green);
    color: #fff !important;
}

.dv-top-white-btn {
    background: #fff;
    color: var(--custom-green) !important;
}

.dv-header-top-banner {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 150px;
    height: 950px;
    background: url(../images/top-banner.png) 100% 100% no-repeat hsla(180, 0%, 50%, 0.85);
}

.dv-header-top-banner:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.dv-custom-mt-export {
    margin-top: 820px;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.dv-light-space-between-sections {
    height: 75px;
}

.dv-mini-border {
    border-bottom: 4px solid var(--custom-green);
    border-radius: 5px;
    width: 15px;
}

.dv-large-border {
    border-bottom: 4px solid var(--custom-green);
    border-radius: 5px;
    width: 45px;
}

.dv-different-part-p, .dv-gray {
    color: var(--custom-gray);
}

/*Swiper*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.indexProductsSwiper .swiper-slide {
    width: 260px;
    height: 356px;
}

.dv-dark-bg-world-map {
    background: #000;
}

.dv-dark-bg-square {
    width: 140px;
    height: 140px;
    border: 2px solid var(--custom-green);
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
}

.dv-dark-bg-square:hover {
    background: var(--custom-green);
}

.dv-dark-bg-number {
    font-size: 2em;
}

.dv-dark-bg-h4 {
    padding-top: 2em;
    line-height: 40px;
}

.dv-dark-bg-p {
    font-size: 1.5em;
    line-height: 40px;
}

.dv-map-flag-img img {
    max-height: 600px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dv-different-part-p {
    padding-right: 50px;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dv-blog-card {
    max-width: 410px;
    width: 100%;
    /*height: 544px;*/
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
    border: none;
    margin: 1em 0;
}

.dv-blog-card-image {
    width: 100%;
    height: 280px;
}

.dv-blog-card-body {
    background: #fff;
    width: 100%;
    padding: 3em 1em 1em 1em;
}

.dv-blog-card-body h6 {
    font-size: 22px;
    color: #000;
}

.dv-blog-card-body p {
    line-height: 24px;
    text-align: left;
}

.dv-blog-date-section {
    background: var(--custom-green);
    color: #fff;
    width: 223px;
    height: 60px;
    display: block;
    margin: auto;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.dv-blog-read-more {
    color: var(--custom-green) !important;
    font-size: 20px;
    line-height: 27px;
}

.dv-blog-line-under-link {
    border-bottom: 3px solid var(--custom-green);
    width: 25px;
}

.dv-d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dv-blog-card-body p {
    text-align: left;
}

.dv-member-card {
    height: 530px;
    width: 100%;
}

.dv-member-card-body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.dv-member-card-image {
    height: 460px;
    width: 100%;
}

.dv-member-card-body-image {
    width: 100%;
    height: 250px;
}

.dv-member-card-body-text {
    position: absolute;
    top: 12em;
    width: 100%;
    left: 1.7em;
}

.dv-member-card-green-border {
    border-bottom: 6px solid var(--custom-green);
    position: absolute;
    top: 3em;
    width: 105%;
    transform: translateX(-8px) rotate(13deg);
}

.dv-member-social-media {
    padding-left: 0.5em;
}

.dv-member-social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    cursor: pointer;
}

.dv-member-social:hover {
    background: var(--custom-green);
    border: 1px solid var(--custom-green);
}

.dv-member-social:hover span:before {
    color: #fff;
}

.dv-member-social span {
    margin: auto;
}

.dv-member-social span:before {
    color: var(--custom-green);
    font-size: 1.2em;
}

.dv-member-info {
    margin-left: 0.5em;
    text-align: left;
}

.dv-member-info h6 {
    color: #161616;
    font-size: 18px;
}

.dv-member-info .dv-our-user-info {
    font-size: 16px;
    color: #8B8B8B;
    margin-bottom: 0.5em;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dv-member-green-divider {
    border-bottom: 3px solid var(--custom-green);
    width: 40px;
}

.dv-footer-copyright {
    background: var(--custom-green);
    padding: 1em 0;
}

.dv-copyright-text {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.dv-footer-top {
    background: url("../images/footer-bg.png") no-repeat;
    background-size: cover;
    padding: 2em 0 2em 0;
}

.dv-footer-logo {
    width: 138px;
    height: 123px;
}

.dv-sign-up-text {
    color: #A5A5A5;
    font-size: 16px;
    padding-top: 0.7em;
}

.dv-footer-h2-title {
    color: #fff;
    position: relative;
    padding-bottom: 1.75em;
}

.dv-footer-h2-title:after {
    width: 120px;
    border-bottom: 3px solid var(--custom-green);
    content: '';
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

.dv-footer-form {
    background: #161616;
    border-radius: 5px;
    padding: 0.7em;
    margin-bottom: 3em;
}

.dv-footer-input {
    background: #161616 !important;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    width: 75%;
    padding-left: 0.5em;
}

.dv-footer-input::placeholder {
    color: #A8A8A8;
}

.dv-footer-button {
    background: #fff;
    border-radius: 5px;
    padding: 0.6em 1.2em;
    color: #161616;
    width: 25%;
}

.dv-footer-list-title {
    color: #fff;
    margin-bottom: 1em;
}

ul {
    padding: 0;
}

.dv-footer-list li {
    margin-bottom: 1em;
}

.dv-footer-list li .dv-service-item-title , .dv-service-item-day{
    color: #8B8B8B;
    font-size: 18px;
    transition: all 0.3s linear;
    line-height: 40px;
}

.dv-service-item-icon:before, .dv-footer-list li:hover .dv-service-item-title, .dv-location-item-icon:before,
.dv-footer-list li:hover .dv-social-item-icon:before {
    color: var(--custom-green);
}

.dv-location-item-icon:before {
    font-size: 1.7em;
    line-height: 40px;
}
.dv-social-item-icon{
    transition: all 0.3s linear;
    margin-right: 1em;
}
.dv-social-item-icon:before{
    font-size: 1.75em;
    color: #8B8B8B;
}

.dv-social-item-icon.icon-x33_35-telegram:before{
    font-size: 1.45em;
}

.dv-service-item-day{
    padding-right: 2em;
    width: 125px;
}

.dv-service-item-time{
    color: #fff;
    font-size: 18px;
    line-height: 40px;
}

/***************    RESPONSIVE   ***************************/
@media (min-width: 1990px) {
    .dv-footer-list li .dv-service-item-title {
        font-size: 20px;
    }

    .dv-member-card-body-image {
        height: 350px;
    }

    .dv-member-card {
        height: 620px;
    }

    .dv-member-card-image {
        height: 550px;
    }
}

@media (min-width: 992px) {
    .w-lg-75 {
        width: 75% !important;
    }
}

@media (max-width: 1600px) {
    .dv-member-card-body {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .dv-custom-navbar.navbar-light .navbar-brand{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 992px) {

    .dv-menu-in-mobile{
        position: fixed;
        top: 0;
        z-index: 1000;
        justify-content: space-between;
        height: 120px;
        background: rgba(16,16,16,0.8);
    }

    .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom {
        background-color: #fff;
    }
    .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom{
        background: #fff !important;
    }

    .sidebar-brand{
        background: transparent;
        padding-top: 0;
    }

    .sidebar-brand img{
        width: 138px;
        height: 123px;
        padding: 0.75em;
    }
    .hamburger{
        top: 45px;
    }
    .dv-header-top-banner {
        padding-top: 75px;
    }

    .dv-language-select{
    /*    margin-top: 6em;*/
        margin-left: 2em;
    }

}
@media (max-width: 768px) {





    .dv-different-part-p {
        padding-right: 0;
    }

    .dv-dark-bg-p {
        font-size: 1em;
        line-height: 30px;
    }



    .dv-custom-px {
        padding: 0 1.25em;
        width: 100%;
    }

    .dv-custom-pl {
        padding: 0 1.25em;
    }

}

@media (max-width: 576px) {
    .dv-top-green-btn, .dv-top-white-btn {
        width: 50%;
        text-align: center;
    }

    .dv-copyright-text{
        font-size: 16px;
    }
    .dv-sign-up-text{
        padding-top: 0;
    }
    .dv-footer-list li {
        margin-bottom: 0.7em;
    }
}